body{
    background-color: #C7C7C7;
}

.bg-blue{
    background-color:#0047FF;
}

.customText1{
    color: white;
    outline: 1px black;
    font-size: 96px;
}

.customText2{
    color: white;
    outline: 1px black;
    font-size: 48px;
}

.customText3{
    color: black;
    font-size: 40px;
}

.picWidth{
    border-image-width: 50px;
}

.font1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.font2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}